<!doctype html>
<html>

<head>
	<title>Line Chart Multiple Axes</title>
	 {{ style('https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css') }}
    {{ script('https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.bundle.min.js') }}
    {{ script('https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.min.js') }}
    {{ script('https://unpkg.com/axios/dist/axios.min.js') }}
	<style>
	canvas {
		-moz-user-select: none;
		-webkit-user-select: none;
		-ms-user-select: none;
	}
	</style>
</head>

<body>
	<div class="chart-container" style="position: relative; height:40vh; width:80vw">
		<canvas id="line-chart" width="800" height="450"></canvas>

	</div>
	<script>
		var ikan = [];
		axios.get('http://localhost:3333/data').then((res) => {
			ikan.push(res.data)
			
		}).then(() => {
			new Chart(document.getElementById("line-chart"), {
		type: 'line',
		data: {
			labels: ikan[0].waktu,
			datasets: [{ 
				data: ikan[0].suhu,
				label: "Suhu",
				borderColor: "#3e95cd",
				fill: true
			}, { 
				data: ikan[0].ph,
				label: "PH",
				borderColor: "#8e5ea2",
				fill: true
			}, { 
				data: ikan[0].tinggi,
				label: "Tinggi",
				borderColor: "#3cba9f",
				fill: true
			}
			]
		},
		options: {
			title: {
			display: true,
			text: 'Data Ikan'
			}
		}
		});

		})
		
	</script>
</body>

</html>
