<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    {{ style('https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css') }}
    {{ style('https://use.fontawesome.com/releases/v5.6.3/css/all.css') }}
    <style>
        .judul{
            margin-top: 30px;
            margin-bottom: 20px;
            text-align: center
        }

        @media only screen and (max-width: 600px) {
            .app{
                font-size: 12px
            }
        }

    </style>
</head>
<body style="background-color:#c3e4dd">
    <div class="container app">
        <div class="judul">
            <h5>
                Water Monitoring
            </h5>
            <h5>Data Table</h5>
        </div>
        <div class="table-responsive-sm">
                <table class="table table-striped">
                        <thead style="background-color : #d3c206">
                            <tr>
                            <th scope="col">Time</th>
                            <th scope="col">Water PH</th>
                            <th scope="col">Temperatur</th>
                            <th scope="col">Height</th>
                            </tr>
                        </thead>
                        <tbody>
                        @each(item in ikan.rows)               
                           <tr>
                                <td>{{ item.waktu }}</td>
                                <td>{{ item.ph }}</td>
                                <td>{{ item.suhu }}</td>
                                <td> {{ item.tinggi }} </td>
                            </tr>
                           @else 
                            <tr>
                                <td>
                                    not found
                                </td>
                            </tr>
                           @endeach
                        </tbody>
                        <tfoot>
                            <tr>
                                <td align="right"><a href="{{ ikan.prevUrl }}" style="font-size:18"><i class="fas fa-angle-double-left"></i></a></td>
                                <td colspan="2" align="center">  
                                    Page <b>{{ ikan.page }}</b> to <b>{{ikan.lastPage}}</b>
                                </td>
                                <td align="left"><a href="{{ ikan.nextUrl }}" style="font-size:18"><i class="fas fa-angle-double-right"></i></a></td>
                            </tr>
                        </tfoot>
                    </table>
        </div>
        <div style="margin-top : 30px">
            <h4>Informasi : </h4>
            <ol>
                <li><p>Level pH kolam ikan lele yang baik berkisar 6-9</p></li>
                <li><p>Kondisi suhu kolam yang intensif untuk ikan lele adalah berkisar 22&deg; Celcius - 32&deg; Celcius</p></li>
            </ol>
        </div>
    </div>
    
</body>
</html>